/* Estilos para el menú */

.menu {
    display: flex;
    flex-direction: column;
    background-color: #0466C8;
  }
  
  /* Estilos para el ícono del menú */
  .menu-icon img {
    max-width: 30px;
    height: auto;
}
  
  /* Estilos para los elementos del menú */
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .menu li {
    margin: 0 10px;
    list-style: none;
  }
  
  /* Media queries para adaptar el menú a diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    /* Mostrar el ícono del menú */
    .menu-icon img {
      display: block;
    }
  
    /* Ocultar la lista de elementos del menú */
    .menu ul {
      display: none;
    }
  
    /* Mostrar la lista de elementos del menú cuando se hace clic en el ícono */
    .menu-icon img:hover + ul,
    .menu-icon img:focus + ul {
      display: flex;
      flex-direction: column;
    }
  }